MAX_SESSION_LIMIT = 15
CACHE_SIZE = 100
TRIP_SEGMENT_LENGTH = 30
POINTS_PER_TRIP = 5
MAX_TRIPS = 4
#dbimpl = org.idream.tracso.adapter.impl.TracsoTestDBImpl
dbimpl = org.idream.tracso.adapter.impl.TracsoOracleDBImpl
oradbserver = rws60064rems.us.oracle.com:1569
oradbname = mm1dv210
orausername = apps 
orapassword = apps

