<?xml version="1.0" encoding="UTF-8"?>
<launchConfiguration type="com.adobe.flexbuilder.debug.launchConfigurationType.flash">
<stringAttribute key="com.adobe.flexbuilder.debug.ATTR_APPLICATION" value="src/Tracso.mxml"/>
<stringAttribute key="com.adobe.flexbuilder.debug.ATTR_DEBUG_URL" value="file:/D:/Proprietery/Projects/Tracso/Flex%20Workspace/Tracso/bin-debug/Tracso.html"/>
<stringAttribute key="com.adobe.flexbuilder.debug.ATTR_PROFILE_URL" value="file:/D:/Proprietery/Projects/Tracso/Flex%20Workspace/Tracso/bin-debug/Tracso.html"/>
<stringAttribute key="com.adobe.flexbuilder.debug.ATTR_PROJECT" value="Tracso"/>
<stringAttribute key="com.adobe.flexbuilder.debug.ATTR_RUN_URL" value="file:/D:/Proprietery/Projects/Tracso/Flex%20Workspace/Tracso/bin-debug/Tracso.html"/>
<booleanAttribute key="com.adobe.flexbuilder.debug.ATTR_USE_DEFAULT_URLS" value="true"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Tracso"/>
<listEntry value="/Tracso/src/Tracso.mxml"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
<listEntry value="1"/>
</listAttribute>
</launchConfiguration>
